<div *ngIf="current">
  <div fxLayout="row">
    <div fxFlex="66%" class="mat-title no-margin">{{current.city}}, {{current.country}}</div>
    <div fxFlex class="right">{{current.date | date:'fullDate'}}</div>
  </div>
  <div fxLayout="row">
    <div fxFlex="66%">
      <img [src]="current.image" alt="image representing current weather">
    </div>
      <div fxFlex class="right"> <!-- &#8457 == degrees F, &#8451 == degrees C --> {{current.temperature | number:'1.0-0'}} &#8457;
    </div>
  </div>
  <div>
    {{current.description}}
  </div>
</div>
